# تجاهل الملف التنفيذي الناتج عن البناء
program
program.exe
*.exe

# تجاهل ملفات الـ Object المؤقتة
*.o
*.obj

# تجاهل مجلدات ومخلفات بيئات التطوير
.vscode/
.idea/

# تجاهل ملف قاعدة البيانات المحلي
inventory.txt